DEBUG=1
SECRET_KEY=change-me-in-production
DATABASE_NAME=bloodsen
DATABASE_USER=bloodsen
DATABASE_PASSWORD=bloodsen_password
DATABASE_HOST=db
DATABASE_PORT=5432
ALLOWED_HOSTS=localhost,127.0.0.1,backend
CORS_ALLOWED_ORIGINS=http://localhost:5173


# Backend d'email ('console' pour dev sans envoi, 'smtp' pour envoi réel)
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend

# Paramètres SMTP (exemple avec Brevo)
EMAIL_HOST=smtp-relay.brevo.com
EMAIL_PORT=587
EMAIL_USE_TLS=1
EMAIL_HOST_USER=votre-login-technique@smtp-brevo.com
EMAIL_HOST_PASSWORD=votre-cle-smtp-brevo
DEFAULT_FROM_EMAIL=votre-adresse-verifiee@exemple.com

# URL du frontend (pour construire les liens envoyés par email)
FRONTEND_URL=http://localhost:5173